h1{
    font-size: 25px;
    line-height: 30px;
    color:rgba(#fff,.75);
    font-weight: 400;
    margin-bottom: 35px;
}

form{
    margin-bottom: 50px;
    select{
        width: 100%;
        max-width: 450px;
        height: 56px;
        border:1px solid #00af6e;
        font-size: 20px;
        padding: 0 15px;
        margin-bottom: 20px;
        color:rgba(#fff,.75);
        background-color: #000;
    }
    input{
        width: 100%;
        max-width: 450px;
        height: 56px;
        border:1px solid #00af6e;
        font-size: 20px;
        padding: 0 15px;
        margin-bottom: 20px;
        color:rgba(#fff,.75);
        background-color: #000;
    }
    .primary-btn{
        border:none;
        font-size: 20px;
        width: 100%;
        max-width: 180px;
        height: 56px;
        color:#fff;
        cursor: pointer;
        background-color: #00af6e;
    }
}

.result{
    font-size: 31px;
    line-height: 35px;
    color:rgba(#fff,.75);
    font-weight: 400;
    margin-bottom: 30px;
}

.result-wrapper {
    height: 100%;
}

.result-inner{
    width: 100%;
    max-width: 1000px;
    overflow-y: auto;
    max-height: 500px;
}
.row{
    border-bottom: 1px solid rgba(#fff,.75);
    &:last-child{
        border:none;
    }
}
.col{
    width: 50%;
    text-align: left;
    word-break: break-word;
    font-size: 16px;
    color: rgba(#fff,.75);
    &.head{
        font-weight: 700;
        text-transform: uppercase;
    }
    img{
        margin-right: 10px;
        border-radius: 50%;
    }
    &:first-child{
        padding: 20px 20px 20px 0;
        border-right: 1px solid rgba(#fff,.75);
    }
    &:last-child{
        padding: 20px 0 20px 20px;
    }
}

#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display:none;
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}
