<h1 mat-dialog-title>NFTs</h1>
<div mat-dialog-content>
  <table mat-table [dataSource]="dataSource11">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="collection_name">
      <mat-header-cell *matHeaderCellDef> Collection Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.collection_name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="permalink">
        <mat-header-cell *matHeaderCellDef> Provider Page Link </mat-header-cell>
        <mat-cell *matCellDef="let element"> <a class="nav-link" href="{{element.permalink}}" target="_blank">View on Provider Page</a> </mat-cell>
      </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns11"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns11;"></mat-row>
  </table>
</div>
<div class="button-paginator">
    <button mat-raised-button color="success" [ngStyle]="{ display: previous > 0 ? 'block': 'none' }" (click)="fetchNFTNames(previous)">Previous</button>
    <button mat-raised-button color="success" [ngStyle]="{ display: next > 0 ? 'block': 'none' }" (click)="fetchNFTNames(next)">Next</button>
</div>
