
.logo{
    max-width: 200px;
}
.poweredby{
    font-size: 20px;
}

.live-feed{
    display: flex;
    justify-content: space-between;
    width: 50%
}

h3{
    font-size: 20px;
    line-height: 25px;
    span{
        font-size: 25px;
        line-height: 25px;
    }
}