<div class="center">
    <h1>Wallets containing {{this.loader.title}} X NFTs</h1>
    <form class="flex column align-center">
        <input matInput #todo placeholder="Input Values" name="todo">   
        <button class="primary-btn" (click)="SendRequest(todo.value, 1)" style="cursor: pointer;">Submit</button>
    </form>

    <div class="result" *ngIf="records && records.length > 0">Results</div>

    <div class="result-wrapper flex justify-center" infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    [scrollWindow]="true"
    [infiniteScrollContainer]="'.result-inner'"
    [fromRoot]="false"
    (scrolled)="onScroll(todo.value)">
        <div class="result-inner">
            <div class="row flex space-between" *ngIf="records && records.length > 0">
                <div class="col head">Wallet Address</div>
                <div class="col head">NFT Count</div>
                <div class="col head">&nbsp;</div>
            </div>
            <div class="row flex space-between" *ngFor="let record of records;">
                <div class="col flex align-center no-wrap"><img src="../../assets/images/wallet.png" alt="Logo" /> {{record.owner_address}}</div>
                <div class="col flex align-center"><img src="../../assets/images/balance.svg" alt="Logo" class="count" /> {{record.count_id}}</div>
                <div class="col flex align-center"><button mat-raised-button color="success" (click)="openDialog(record.owner_address)" style="cursor: pointer;">View NFT</button></div>
            </div>
        </div>
    </div>
</div>