.right {
    padding-right: 20px;
}

.left {
    padding-left: 20px;
}

.border {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.87);
}

.width200 {
    width: 400px;
}

.width708 {
    width: 685px;
}

.mat-table {
    overflow: auto;
    height: 800px;
}

.tableDiv {
    overflow: auto;
    height: 810px;
    padding-left: 10px;
    padding-right: 10px;
}

.width100 {
    width: 100px;
}

.width800{
    width: 802px;
}

.flex-container {
    display: flex;
}

.mat-cell {
    word-break:break-all;
    padding-right: 20px;
}

.mat-header-cell {
    padding-right: 20px;
}

.button-paginator {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.mat-column-count {
    justify-content: center!important;
}

.mat-column-xlink {
    justify-content: center!important;
}

header{
    padding: 8px 0;
    border-bottom: 1px solid rgba(#fff,.75);
}

aside{
    width:100%;
    max-width: 315px;
    border-right: 1px solid rgba(#fff,.75);
    padding:20px 0 0 25px;
}
.content-wrapper{
    padding: 30px 20px 100px;
    width: calc(100% - 315px);
    position: relative;
    min-height: calc(100vh - 115px);
}
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

.spiner{
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100px; /* Full width (cover the whole page) */
    height: 100px; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}