.right {
    padding-right: 20px;
}

.left {
    padding-left: 20px;
}

.border {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.87);
}

.width200 {
    width: 400px;
}

.width708 {
    width: 685px;
}

.mat-table {
    overflow: auto;
    height: 800px;
}

.tableDiv {
    overflow: auto;
    height: 810px;
    padding-left: 10px;
    padding-right: 10px;
}

.width100 {
    width: 100px;
}

.width800{
    width: 802px;
}

.flex-container {
    display: flex;
}

.spiner {
    margin-top: 21%;
    margin-left: 10%;
}

.mat-cell {
    word-break:break-all;
    padding-right: 20px;
}

.mat-header-cell {
    padding-right: 20px;
}

.button-paginator {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.mat-column-count {
    justify-content: center!important;
}

.mat-column-xlink {
    justify-content: center!important;
}

header{
    padding: 8px 0;
    border-bottom: 1px solid rgba(#fff,.75);
}
.main-wrapper{
    min-height: calc(100vh - 109px);
}
aside{
    width:100%;
    max-width: 280px;
    border-right: 1px solid rgba(#fff,.75);
    padding:20px 0 0 25px;
}
.content-wrapper{
    padding: 30px 20px 100px;
    width: calc(100% - 280px);
    position: relative;
    height: 100%;
}