<h3>Search BY</h3>

<h3>Wallet</h3>

<ul>
    <li><a href="" (click)="setSymbol('gt');" style="cursor: pointer;">Value (greater than)</a></li>
    <li><a href="" (click)="setSymbol('lt');" style="cursor: pointer;">Value (less than)</a></li>
    <li><a href="" (click)="setSymbol('eq');" style="cursor: pointer;">Value (exact match)</a></li>
    <li><a href="" (click)="setRange(true);" style="cursor: pointer;">Value (range)</a></li>
</ul>

<h3>NFT</h3>

<ul>
    <li>By Name</li>
    <li>By Project</li>
    <li><a href="" (click)="setNftSymbol('gt');" style="cursor: pointer;"># of NFTs (greater than)</a></li>
    <li><a href="" (click)="setNftSymbol('lt');" style="cursor: pointer;"># of NFTs (less than)</a></li>
    <li><a href="" (click)="setNftSymbol('eq');" style="cursor: pointer;"># of NFTs (exact match)</a></li>
</ul>