<h3>Search BY</h3>

<h3>Wallet</h3>

<ul>
    <li><a [routerLink]="['/']" routerLinkActive="active" (click)="setSymbol('gt');" style="cursor: pointer;">Wallets containing more than X Eth</a></li>
    <li><a [routerLink]="['/lt']" routerLinkActive="active" (click)="setSymbol('lt');" style="cursor: pointer;">Wallets containing less than X Eth</a></li>
    <li><a [routerLink]="['/eq']" routerLinkActive="active" (click)="setSymbol('eq');" style="cursor: pointer;">Wallets containing exactly X Eth</a></li>
    <li><a [routerLink]="['/bal-range']" routerLinkActive="active" (click)="setRange(true);" style="cursor: pointer;">Wallets containing a range of X to Y Eth</a></li>
</ul>

<h3>NFT</h3>

<ul>
    <!-- <li><a [routerLink]="['/name-search']" routerLinkActive="active" style="cursor: pointer;">By Name</a></li> -->
    <li><a [routerLink]="['/collection-search']" routerLinkActive="active" style="cursor: pointer;">Collection Name</a></li>
    <li><a [routerLink]="['/range']" routerLinkActive="active" (click)="setRange(true);" style="cursor: pointer;">Wallets containing NFT with X Value (Based on Last Sale Price)</a></li>
    <li><a [routerLink]="['/nft-gt']" routerLinkActive="active" (click)="setNftSymbol('gt');" style="cursor: pointer;">Wallets containing more than X NFTs</a></li>
    <li><a [routerLink]="['/nft-lt']" routerLinkActive="active" (click)="setNftSymbol('lt');" style="cursor: pointer;">Wallets containing fewer than X NFTs</a></li>
    <li><a [routerLink]="['/nft-eq']" routerLinkActive="active" (click)="setNftSymbol('eq');" style="cursor: pointer;">Wallets containing exactly X NFTs</a></li>
</ul>
