<div class="center">
    <h1>Wallets containing nfts with exact collection name</h1>
    <form class="flex-column align-center">
        <input type="text" #todo
                 placeholder="Pick one"
                 aria-label="Number"
                 matInput
                 [formControl]="myControl"
                 [matAutocomplete]="auto"
                 (keyup)="onKeyUp($event)">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="changeSelectedOption($event)">
            <mat-optgroup *ngFor="let option of options | async">
                <mat-option [value]="option"><strong>{{option.contract_name}}</strong></mat-option>
                <mat-option [value]="option">{{option.contract_address}}</mat-option>
            </mat-optgroup>
          </mat-autocomplete>
    </form>

    <button [disabled]="isDisabled" class="primary-btn" (click)="SendRequest(todo.value, 1)">Submit</button> 
    <div class="result" *ngIf="records && records.length > 0">Results</div>

    <div class="result-wrapper flex justify-center" infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    [scrollWindow]="true"
    [infiniteScrollContainer]="'.result-inner'"
    [fromRoot]="false"
    (scrolled)="onScroll('')">
        <div class="result-inner">
            <div class="row flex space-between" *ngIf="records && records.length > 0">
                <div class="col head">Collection Name</div>
                <div class="col head">View Provider Page</div>
                <div class="col head">Wallet Address</div>
            </div>
            <div class="row flex space-between" *ngFor="let record of records;">
                <div class="col flex align-center no-wrap">{{record.collection_name}}</div>
                <div class="col flex align-center"><img src="../../assets/images/nft-count-old.png" alt="Logo" /><a href="https://opensea.io/assets/ethereum/{{record.contract_address}}/{{record.token_id}}" target="_blank" style="cursor: pointer;">{{record.token_id}}</a></div>
                <div class="col flex align-center no-wrap"><img src="../../assets/images/wallet.png" alt="Logo" /> <a target="_blank" href="https://etherscan.io/nft/{{record.contract_address}}/{{record.token_id}}"  style="cursor: pointer;">{{record.owner_address}}</a></div>
            </div>
        </div>
    </div>
</div>